<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShopeeKZ</title>
    <link rel="stylesheet" href="./assets/css/base.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/grid.css" />
    <link rel="stylesheet" href="./assets/css/responsive.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="./assets/fonts/fontawesome-free-5.12.1-web/css/all.min.css"
    />
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="grid wide">
          <nav class="header__navbar hide-on-mobile-tablet">
            <ul class="header__navbar-list">
              <li
                class="header__navbar-item header__navbar-item--has-qr header__navbar-item--separate"
              >
                біздің мобильді қосымшамыз
                <!-- Header QR Code -->
                <div class="header__qr">
                  <img
                    src="./assets/img/qr_code.png"
                    alt="QR Code"
                    class="header__qr-img"
                  />
                  <div class="header__qr-apps">
                    <a href="" class="header__qr-link">
                      <img
                        src="./assets/img/google_play.png"
                        alt="Google Play"
                        class="header__qr-download-img"
                      />
                    </a>
                    <a href="" class="header__qr-link">
                      <img
                        src="./assets/img/appstore.png"
                        alt="App Store"
                        class="header__qr-download-img"
                      />
                    </a>
                  </div>
                </div>
              </li>
              <li class="header__navbar-item">
                <span class="header__navbar-title--no-pointer">контактілер</span>

                <a href="https://www.facebook.com/" target="_blank" class="header__navbar-icon-link">
                  <i class="header__navbar-icon fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="header__navbar-icon-link">
                  <i class="header__navbar-icon fab fa-instagram"></i>
                </a>
              </li>
            </ul>
            <ul class="header__navbar-list">
              <li class="header__navbar-item header__navbar-item--has-notify">
                <a href="" class="header__navbar-item-link">
                  <i class="header__navbar-icon far fa-bell"></i>
                  Хабарландыру
                </a>
                <div class="header__notify">
                  <header class="header__notify-header">
                    <h3>Жаңа хабарландырулар алу</h3>
                  </header>
                  <ul class="header__notify-list">
                    <li class="header__notify-item header__notify-item--viewed">
                      <a href="" class="header__notify-link">
                        <img
                          src="https://img.tickid.vn/photos/resized/200x120/83-1574758841-myphamohui-lgvina.png"
                          alt=""
                          class="header__notify-img"
                        />
                        <div class="header__notify-info">
                          <span class="header__notify-name"
                            >Здесь думаю должен быть автор уведомления</span
                          >
                          <span class="header__notify-description"
                            >Тут содержимое уведомления</span
                          >
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <img
                          src="https://img.tickid.vn/photos/resized/200x120/83-1580794352-myphamohui-lgvina.png"
                          alt=""
                          class="header__notify-img"
                        />
                        <div class="header__notify-info">
                          <span class="header__notify-name"
                            >Здесь думаю должен быть автор уведомления
                           </span
                          >
                          <span class="header__notify-description"
                            >Тут содержимое уведомления
                            </span
                          >
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <img
                          src="https://img.tickid.vn/photos/resized/200x120/83-1576046204-myphamohui-lgvina.png"
                          alt=""
                          class="header__notify-img"
                        />
                        <div class="header__notify-info">
                          <span class="header__notify-name"
                            >Здесь думаю можно сделать содержимое уведомления</span
                          >
                          <span class="header__notify-description"
                            >А тут до какого срока это длится по типу купона 11-13/12/2019</span
                          >
                        </div>
                      </a>
                    </li>
                  </ul>
                  <div class="header__notify-footer">
                    <a href="" class="header__notify-footer-btn">Барлығын қараңыз</a>
                  </div>
                </div>
              </li>
              <li class="header__navbar-item">
                <a href="" class="header__navbar-item-link">
                  <i class="header__navbar-icon far fa-question-circle"></i>

                  Біз туралы
                </a>
              </li>
              <!-- <li
                class="header__navbar-item header__navbar-item--strong header__navbar-item--separate"
              >
                Đăng ký
              </li>
              <li class="header__navbar-item header__navbar-item--strong">
                Đăng Nhập
              </li> -->
              <li class="header__navbar-item header__navbar-user">
                <img
                  src="./assets/img/user_avatar.png"
                  alt=""
                  class="header__navbar-user-img"
                />
                <span class="header__navbar-user-name">
                  Nurbek777
                </span>
                <ul class="header__navbar-user-menu">
                  <li class="header__navbar-user-item">
                    <a href="">Менің профилім</a>
                  </li>
                  <li class="header__navbar-user-item">
                    <a href="">Мекенжай</a>
                  </li>
                  <li class="header__navbar-user-item">
                    <a href="">Менің тапсырыстарым</a>
                  </li>
                  <li
                    class="header__navbar-user-item header__navbar-user-item--separate"
                  >
                    <a href="" style="color: red;">Шығу</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
    {% block body %}
    {% endblock %}
<footer class="footer">
    <div class="grid wide footer__content">
      <div class="row">
        <div class="col l-2-4 m-4 c-6">
          <h3 class="footer__heading">КЛИЕНТТЕРІҢІЗГЕ ҚАМҚОР ЖАСАУ</h3>
          <ul class="footer-list">
            <li class="footer-item">
              <a href="#" class="footer-item__link">Анықтама орталығы</a>
            </li>
            <li class="footer-item">
              <a href="#" class="footer-item__link">Шоппинг гидтері</a>
            </li>
            <li class="footer-item">
              <a href="#" class="footer-item__link"
                >Жеткізу саясаты</a
              >
            </li>
          </ul>
        </div>
        <div class="col l-2-4 m-4 c-6">
          <h3 class="footer__heading">Біз туралы</h3>
          <ul class="footer-list">
            <li class="footer-item">
              <a href="#" class="footer-item__link">Біздің қызметіміз туралы</a>
            </li>
            <li class="footer-item">
              <a href="#" class="footer-item__link">Жұмысқа қабылдау</a>
            </li>
            <li class="footer-item">
              <a href="#" class="footer-item__link">Сатып алу шарттары</a>
            </li>
          </ul>
        </div>
        <div class="col l-2-4 m-4 c-6">
          <h3 class="footer__heading">САНАТ</h3>
          <ul class="footer-list">
            <li class="footer-item">
              <a href="#" class="footer-item__link">Бүгінгі таңда танымал</a>
            </li>
            <li class="footer-item">
              <a href="#" class="footer-item__link">Ай үшін танымал</a>
            </li>
            <li class="footer-item">
              <a href="#" class="footer-item__link">Барлық уақыттағы ең танымал</a>
            </li>
          </ul>
        </div>
        <div class="col l-2-4 m-4 c-6">
          <h3 class="footer__heading">БІЗБЕН ХАБАРЛАСУ</h3>
          <ul class="footer-list">
            <li class="footer-item">
              <a href="https://www.facebook.com/" target="_blank" class="footer-item__link">
                <i class="footer-item__icon fab fa-facebook-square"></i>
                Facebook</a
              >
            </li>
            <li class="footer-item">
              <a href="https://www.instagram.com/" target="_blank" class="footer-item__link">
                <i class="footer-item__icon fab fa-instagram-square"></i>
                Instagram</a
              >
            </li>
            <li class="footer-item">
              <a href="https://www.linkedin.com/feed/" target="_blank" class="footer-item__link">
                <i class="footer-item__icon fab fa-linkedin"></i>
                Linkedin</a
              >
            </li>
          </ul>
        </div>
        <div class="col l-2-4 m-8 c-12">
          <h3 class="footer__heading">біздің мобильді қосымшамыз</h3>
          <div class="footer__download">
            <img
              src="./assets/img/qr_code.png"
              alt="Download QR"
              class="footer__dowload-qr"
            />
            <div class="footer__download-apps">
              <a href="#" class="footer__download-app-link">
                <img
                  src="./assets/img/google_play.png"
                  alt="Google Play"
                  class="footer__download-app-img"
                />
              </a>
              <a href="#" class="footer__download-app-link">
                <img
                  src="./assets/img/appstore.png"
                  alt="App store"
                  class="footer__download-app-img"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="grid wide">
        <p class="footer__text">
          © 2023 Сейдалиев Нұрбек-Абсаттаров Айбар-Джунусов Ерлан
        </p>
      </div>
    </div>
  </footer>
</div>
<script src="./assets/js/script.js"></script>
</body>
</html>